###########################################################
###################### General Setup ######################
###########################################################

############## PROJECT CONST ##############
PROJ_NAME=<nome-progetto>
APPLICATION_NAME=<nome-applicativo>
PROJ_VERSION=0.0.1
SCHEMA=<schema-utilizzato>
HOST=<host-progetto>
FE_PORT=<porta-front-end-vue.js>
BE_PORT=<porta-back-end-spring>
TEST=TEST
DEV=DEV
PROD=PROD
PROFILE=<profilo-in-uso>
BASE_URL="${SCHEMA}://${HOST}"
MS_NAME=<nome-ms>
MS_VERSION=<versione-ms>
BE_URL="${BASE_URL}:${BE_PORT}/${MS_NAME}/${MS_VERSION}"
FE_URL="${BASE_URL}:${FE_PORT}"

#Keycloak
KC_EXTERNAL_PORT=<porta-docker-esterna-keycloak>
KC_REALM_NAME="${PROJ_NAME}"
KC_CLIENT_ID=<client-id-keycloak>
KC_AUTH_AURL="${BASE_URL}:${KC_EXTERNAL_PORT}/realms/${KC_REALM_NAME}/protocol/openid-connect/auth"
KC_AUTH_PARAMS="client_id=${KC_CLIENT_ID}&response_type=code&scope=openid&redirect_uri=${BE_URL}"

############## Google ##############
VITE_KC_LOGIN_URL="${KC_AUTH_AURL}?${KC_AUTH_PARAMS}"

############## PayPal ##############
VITE_PAYPAL_CLIENT_ID=<paypal-client-id>
VITE_PAYPAL_SECRET=<paypal-client-secret>
PAYPAL_USERNAME=<paypal-username>
PAYPAL_PASSWORD=<paypal-password>
PAYPAL_SIGNATURE=<paypal-signature>
